[protocol]
  version = 2
[core]
  excludesfile = ~/.gitignore
[column]
  ui = auto
[color]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[diff "bin"]
  # Use `hexdump` to diff binary files
  textconv = hexdump -v -C
[pull]
  rebase = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[commit]
  template = ~/.gitmessage
  verbose = true
[rerere]
  enabled = true
  autoupdate = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[merge]
  conflictstyle = zdiff3
  ff = only
  tool = opendiff
[help]
  autocorrect = prompt
[user]
  name = Wouter Willaert
  email = wouter.willaert@gmail.com
  signingkey = C348762F4939A0CE
[credential "https://github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
[alias]
  aa = add --all
  ap = add --patch
  ci = commit -v
  co = checkout
  pf = push --force-with-lease
  st = status
  ps = push
  cp = cherry-pick
  dic = diff --cached
  rbc = !git rebase --continue && git status
  rbi = !git fetch origin && git rebase -i origin/master
  l = !git log --graph --pretty=colored
  cleanup = !git remote prune origin && git gc && git clean -df && git stash clear
  wip = !git add -A && "git commit -m 'wip [ci skip]'"
  unwip = !test "`git log -n1 --pretty=format:%s`" = "wip" && git reset HEAD~1
  unstage = reset -q HEAD --
  discard = checkout --
  uncommit = reset --mixed HEAD~
  amend = commit --amend
  nevermind = !git reset --hard HEAD && git clean -d -f
  patch = !git --no-pager diff --no-color
[pretty]
  colored = format:%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset
[include]
  path = ~/.gitconfig.local
